<!-- Modal -->
<div class="modal fade" th:id="'exampleModaledit' + ${tontine.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="'exampleModalLabel' + ${tontine.id}">Changer Statut De Cette Tontine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-group" action="/changer-statut-tontine" method="POST" th:object="${Tontine}">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="statut">Statut :</label>
                        <select class="form-control" id="statut" name="statutTontine">
                            <option th:each="statut : ${T(com.tontine.entities.Tontine.StatutTontine).values()}"
                                    th:value="${statut.name()}"
                                    th:text="${statut.name()}" ></option>
                        </select>
                    </div>
                </div>
                <input type="hidden" th:name="tontine_id" th:value="${tontine.id}">
                <input type="hidden" th:name="user" th:value="${user_id}">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <input type="submit" class="btn btn-success" value="Changer" />
                </div>
            </form>
        </div>
    </div>
</div>
