<!-- Modal -->
<div class="modal fade" th:id="'exampleModaldemande' + ${tontine.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="'exampleModalLabel' + ${tontine.id}">Demander Cette Tontine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-group" action="/demander-jointure" method="POST" th:object="${DemandeJointure}">
                <div class="modal-body">
                    <input type="hidden" th:name="tontine.id" th:value="${tontine.id}">
                    <input type="hidden" th:name="user" th:value="${user_id}">
                    <div class="form-group">
                        <label for="'participationType' + ${tontine.id}">Type de Participation :</label>
                        <select class="form-control youssef" id="'participationType' + ${tontine.id}" name="participationType">
                            <option value="SEUL">Seul</option>
                            <option value="EN_GROUPE_NEW">Nouveau Groupe </option>
                            <option value="EN_GROUPE">Groupe Existant</option>
                        </select>
                    </div>
                    <div class="form-group cotisationDiv x" id="'cotisationDiv' + ${tontine.id}">
                        <label for="'cotisation' + ${tontine.id}">Cotisation :</label>
                        <select class="form-control" id="'cotisation' + ${tontine.id}" name="cotisation">
                            <option value="0.25">25%</option>
                            <option value="0.50">50%</option>
                            <option value="0.75">75%</option>
                        </select>
                    <div class="form-group y">
                        <label>Groupes : </label>
                        <select class="form-control">
                            <option th:each="membre, iStat : ${tontine.getMembreTontines()}" th:if="${membre.groupeUser != null  }" th:text="${membre.groupeUser.nomGroupe}"
                                  th:value="${membre.groupeUser.id}"></option>
                        </select>
                    </div>



                        </ul>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <input type="submit" class="btn btn-success" value="Demander" />
                </div>
            </form>
        </div>
    </div>
</div>
