<!-- The modal -->
<div class="modal fade" id="jointureModal" tabindex="-1" role="dialog" aria-labelledby="jointureModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="jointureModalLabel">Demander Jointure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- The form for the "Jointure" entity -->
                <form th:action="@{/demander-jointure}" th:object="${demandeJointure}" method="post">
                    <!-- Your form fields here, e.g. -->
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" th:field="*{demandeJointure.date}" class="form-control" id="date" name="date" aria-describedby="dateHelp">
                    </div>





                    <!-- More form fields for the other properties of "DemandeJointure" -->

                        <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>