<form method="get" action="/" style="margin-bottom: 20px">
<div class="search-bar d-flex align-items-center" style="margin-bottom: 20px; margin-top: 20px;">
       <div class="input-group">
           <div class="input-group-prepend">
               <span class="input-group-text"><i class="fas fa-search"></i></span>
           </div>
           <input type="text" name="nom" th:value="${nom}" class="form-control" id="nom" placeholder="Rechercher par nom">
       </div>
       <div class="input-group ml-3">
           <div class="input-group-prepend">
               <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
           </div>
           <input type="number" class="form-control" id="prixMin" name="prixMin" th:value="${prixMin}" placeholder="Prix Min">
       </div>
       <div class="input-group ml-3">
           <div class="input-group-prepend">
               <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
           </div>
           <input type="number" class="form-control" id="prixMax" name="prixMax" th:value="${prixMax}" placeholder="Prix Max">
       </div>
       <div class="input-group ml-3">
           <div class="input-group-prepend">
               <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
           </div>
           <select class="form-control" name="frequence" id="frequence" >
               <option selected disabled>Par Frequence</option>
               <option th:each="frequence : ${T(com.tontine.entities.Demandetontine.Frequence).values()}"
                        th:value="${frequence}" th:text="${frequence}">
               </option>
           </select>
       </div>
       <button class="btn btn-warning ml-3" type="submit"><i class="fas fa-search"></i></button>
</div>
</form>