<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/creerTontine.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<section class="get-in-touch">
    <h1 class="title">Creer Votre Tontine</h1>
    <form class="contact-form row" >
        <div class="form-field col-lg-6">
            <input id="name" class="input-text js-input" type="text" required>
            <label class="label" for="name">Name</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="montant" class="input-text js-input" type="number" required>
            <label class="label" >Montant</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="max_member" class="input-text js-input" type="number" required>
            <label class="label" for="max_member">Nombre de membres</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="date_debut" class="input-text js-input" type="date" required>
            <label class="label" for="date_debut">Date Debut</label>
        </div>
        <div class="form-field col-lg-6 ">
            <label for="'participationType' + ${tontine.id}">Type de Participation :</label>
            <select class="form-control" id="'participationType' + ${tontine.id}" name="participationType">
                <option value="Aleatoire">Aleatoire</option>
                <option value="Par_Ordre">Par Ordre</option>
            </select>
        </div>


        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Submit">
        </div>
    </form>
</section>


</body>
</html>