<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--    <link rel="stylesheet" th:href="@{/css/style.css}" />-->
    <link rel="stylesheet" href="/css/style.css" />
    <title>Home Page</title>
</head>
<body>
<!--    Nav Section   -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-0 header">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Liste Des Tontines</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="login-section">
            <a href="/login" class="texto">Se connecter</a>
            <span class="separator">|</span>
            <a href="/register" class="texto">Créer un compte</a>
        </div>
    </div>
</nav>


<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4" th:each="tontine, iStat : ${tontines}">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title" th:text="${tontine.nom}"></h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day" th:text="${#dates.format(tontine.dateDebut, 'dd')}"></span>
                                <span class="widget-49-date-month" th:text="${#dates.format(tontine.dateDebut, 'MMM')}"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title " th:text="${tontine.montantPeriode}"></span>
                                <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Expand module is removed</span></li>
                            <li class="widget-49-meeting-item"><span>Data migration is in scope</span></li>
                            <li class="widget-49-meeting-item"><span>Session timeout increase to 30 minutes</span></li>
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-flash-border-primary">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>