<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modalmanager.min.js" integrity="sha512-/HL24m2nmyI2+ccX+dSHphAHqLw60Oj5sK8jf59VWtFWZi9vx7jzoxbZmcBeeTeCUc7z1mTs3LfyXGuBU32t+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('[id^="participationType"]').forEach(function(select) {
                select.addEventListener('change', function() {
                    var tontineId = this.dataset.tontineId;
                    var cotisationDiv = document.getElementById('cotisationDiv' + tontineId);

                    if (this.value === 'EN_GROUPE') {
                        cotisationDiv.style.display = 'block';
                    } else {
                        cotisationDiv.style.display = 'none';
                    }
                });
            });
        });
    </script>
    <title>Home Page</title>
</head>
<body>
<!--    Nav Section   -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Liste Des Tontines</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="login-section" th:if="${not #authorization.expression('isAuthenticated()')}">
            <a href="/login" class="texto">Se connecter</a>
            <span class="separator">|</span>
            <a href="/register" class="texto">Créer un compte</a>

        </div>
        <div class="login-section" th:if="${#authorization.expression('isAuthenticated()')}">
            <a href="/logout" class="texto">Se deconnecter</a>
            <a href="/dashboard" class="texto">Espace Admin</a>
            <span class="separator">|</span>
            <a href="/créer-tontine" class="texto">Créer Tontine</a>
            </div>
        </div>

    </div>
</nav>


<div class="container mt-5">

<!--    <p th:if="${errorMessage != null and errorMessage.isEmpty() == false}">Error: <span th:text="${errorMessage}"></span></p>-->
<!--    <p th:if="${successMessage != null and successMessage.isEmpty() == false}">Success: <span th:text="${successMessage}"></span></p>-->

    <div class="row">
        <div class="col-lg-4" th:each="tontine, iStat : ${tontines}">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title" th:text="${tontine.nom}"></h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">

                                <span class="widget-49-date-day" th:text="${#dates.format(tontine.dateDebut, 'dd')}"></span>
                                <span class="widget-49-date-month" th:text="${#dates.format(tontine.dateDebut, 'MMM')}"></span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <b>Montant Par Période: </b>
                                <span class="widget-49-pro-title h6" th:text="${tontine.montantPeriode}"></span>
                                <span class="widget-49-meeting-time" th:text="${tontine.frequence}"></span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><b>Max Membres : </b><span th:text="${tontine.maxMembre}"></span></li>
                            <li class="widget-49-meeting-item"><b>Nombre de Places Restantes : </b><span>99</span></li>
                        </ol>
                        <div class="widget-49-meeting-action" th:if="${#authorization.expression('isAuthenticated()')}">
                            <button type="button" data-toggle="modal" th:data-target="'#exampleModal' + ${tontine.id}" class="btn btn-sm btn-flash-border-primary demande">
                                Demander Jointure
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <!--Modal Pour demander une tontine-->
            <div th:replace="~{layouts/demanderJointure}"></div>
        </div>
    </div>
</div>

</body>
</html>